:root {
    --primary-color: #83008F;
    --white-color: #FFFFFF;
    --ligh-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link {
    color: blueviolet;
    text-decoration: underline;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Zen Dots', cursive;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
    text-transform: uppercase;
}

h5 {
    font-size: 4rem;
    text-transform: uppercase;
}

h6 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 2rem;
}

.menu-spacing {
    height: 6.4rem;
}
.main-content {
    max-width: 100vw;
    margin: 0 auto;
    padding: var(--gap);
}

.menu {
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.01rem solid var(--ligh-gray-color);
    z-index: 1;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: var(--primary-color);
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
}

.menu ul li a::after{
    content:'';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.sect {
    min-height: 100vh;
}

.intro-content {
    position: relative;
    top: -6.5rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    align-items: center;
    min-height: 100vh;
}

.intro-text h2 {
    font-size: 6rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intro-img img {
    max-width: 100%;
    height: auto;
    padding-top: 6rem;
}

.sect2-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    max-width: 70rem;
}

.sect2-content h2 {
    font-size: 6rem;
}

.grid-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.grid-content p.desc {
    margin-bottom: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-bottom: 1rem;
    padding-left: 9rem;
}

.grid h3.um::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 5rem;
    font-style: italic;
    top: -1.8rem;
    left: 1.2rem;
    transform: rotate(5deg);
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 5rem;
    font-style: italic;
    top: -1.8rem;
    left: 0;
}

.gallery-img {
    width:100%;
    max-width:36rem;
    max-height: 36rem;
    overflow:hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: scale(1.2) rotateZ(5deg);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.pricing-table {
    min-width: 36rem;
    overflow: auto;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid rgb(252, 171, 151);
}

tfoot td, table th {
    background-color: rgb(252, 171, 151);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 auto;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    padding: 1.5rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.form-group input:focus, .form-group textarea:focus, .form-group button:focus {
box-shadow: 0 0 15px 1px yellow;
}

.full-width {
    width: 100%;
}

.form-group button {
    border: 0.5rem solid white;
    background: none;
    color: white;
    padding: 1.5rem 2rem; 
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    outline: none;
}

.form-group button:hover {
    border: 0.5rem solid white;
    background: white;
    color: var(--primary-color);
}

.footer {
    text-align: center;
    font-size: 1.3rem;
}

.footer a {
    color: var(--primary-color);
}

.footer p {
    margin: 0;
    padding: 2rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 2rem;
    background: rgba(255, 217, 192, 0.747);
    color:var(--primary-color);
    border-radius: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transform: rotate(90deg);
    font-size: 2rem;
}

@media (max-width: 800px) {
.intro-content {
    display:block;
    }    

.grid {
    grid-template-columns: 1fr;
}
.gallery-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.gallery-img img{
    width: 100%;
}

.menu {
    bottom: 0;
    text-align: center;
}

.menu-content, .menu-content ul {
    flex-direction: column;
    justify-content: center;
}

.menu-content {
    height: 100vh;
}

.menu {
    display:none;
}

.menu-spacing{
    width: 0;
    height: 0;
}

.close-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.close-menu-label::after {
    content:'≡';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    background: white;
    columns: var(--primary-color);
    cursor: pointer;
    border-radius: 1rem;
}

.close-menu:checked~.menu{
    display: block;
}

.close-menu:checked~.close-menu-label::after{
    content: '×';
}

}

@media (orientation: portrait) and (max-width: 800px) {
    .close-menu-label::after {
        font-size: 3rem;
}
}